<ion-header>
  <ion-toolbar>
    <ion-title>Lector QR Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bicicleta</ion-label>
      <ion-input [(ngModel)]="author" name="author"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Servicio</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select [(ngModel)]="status" name="status">
        <ion-select-option value="public">Entregada</ion-select-option>
        <ion-select-option value="private">En servicio</ion-select-option>
      </ion-select>
    </ion-item>


  </ion-list>
</ion-content>


<ion-button expand="full" class="scan-qr" (click)="scanQR()">Escanear Código QR</ion-button>
<img id="capturedImage" style="width: 100%; height: auto;">


