
<ion-header [translucent]="true" style="background-color: #ffffff;">
  <ion-toolbar id="ion-toolbar" style="background-color: #979797;" >
    
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>{{ temperatura }}°C</ion-col>
          <ion-col><img style="filter: drop-shadow(12px 2px 23px black) invert(15%)" [src]= weatherIconUrl alt="Weather Icon"></ion-col>
          <ion-col>{{ estado }}</ion-col>
        </ion-row>
      </ion-grid>
           

  </ion-toolbar>
</ion-header>


     <ion-card-subtitle>Novedades</ion-card-subtitle>
  <swiper-container color="transparent"
  #swiper
  [pagination]="true"
  [loop]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image.url" alt="Imagen">slide 1
    </swiper-slide>
    <swiper-slide>giant</swiper-slide>
    <swiper-slide>specialized</swiper-slide>
  </swiper-container>

  <swiper-container color="transparent"
  #swiper
  [pagination]="true"
  [loop]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image.url" alt="Imagen">slide 1
    </swiper-slide>
    <swiper-slide>bicicleta1</swiper-slide>
    <swiper-slide>bicicleta2</swiper-slide>
  </swiper-container>

  
  <swiper-container color="transparent"
  #swiper
  [pagination]="true"
  [loop]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image.url" alt="Imagen">slide 1
    </swiper-slide>
    <swiper-slide>bicicleta1</swiper-slide>
    <swiper-slide>bicicleta2</swiper-slide>
  </swiper-container>


<ion-content>

  <ion-toast isOpen="true" message="Bienvenido {{ username }}" [duration]="3000" icon="person-circle-outline"></ion-toast>

</ion-content>
